<header style="display: flex; justify-content: center; align-items: center; background-color: chocolate; height: 80px">
  <button mat-raised-button (click)="openAddUserDialog()">
    Добавить пользователя
  </button>
</header>
<div style="display: flex; flex-wrap: wrap; margin: 20px; justify-content: start; align-items: initial">
  <ng-container *ngFor="let user of users">
    <app-user-card
      [user]="user"
      (deleteUser)="deleteUser($event)"
      (editUser)="editUser($event)"
    ></app-user-card >
  </ng-container>
</div>


