<p>users-list works!</p>
<!--<div-->
<!--  *ngFor="let user of users | async"-->
<!--&gt;-->
<!--  <div class="card-body p-2 text-center">-->
<!--    <div>-->
<!--      <h5>{{user.name}}</h5>-->
<!--      <h5>{{user.phone}}</h5>-->
<!--      <h5>{{user.email}}</h5>-->
<!--&lt;!&ndash;      <button class="btn btn-success" [routerLink]="['user', user.id]">&ndash;&gt;-->
<!--&lt;!&ndash;        Details&ndash;&gt;-->
<!--&lt;!&ndash;      </button>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div  class="card bg-dark text-white mt-2"-->
<!--      style="border-radius: 1rem">-->

<header style="display: flex; flex-direction: column; margin: 20px; align-items: center">
  <button mat-raised-button (click)="openAddUserDialog()">
    Добавить пользователя
  </button>
</header>
<div style="display: flex; flex-direction: column; margin: 20px; align-items: center">
  <ng-container *ngFor="let user of users">
    <app-user-card [user]="user"
    (deleteUser)="deleteUser($event)"
    ></app-user-card >
  </ng-container>
</div>


