<div mat-dialog-content style="display: flex; flex-direction: column; flex-wrap: wrap">
<!--  <p>Add new user</p>-->
  <mat-form-field>
    <mat-label>ID</mat-label>
    <input disabled matInput [(ngModel)]="data.id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input matInput [(ngModel)]="data.phone">
  </mat-form-field>
  <mat-form-field>
    <mat-label>email</mat-label>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No Thanks</button>
  <button mat-button [mat-dialog-close]="{id: data.id,email: data.email, name: data.name, phone: data.phone}">Ok</button>
</div>
