<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>Add new user</p>
  <mat-form-field>
    <mat-label>New user</mat-label>
    <input matInput [(ngModel)]="data.id">
    <hr>
    <input matInput [(ngModel)]="data.name">
    <hr>
    <input matInput [(ngModel)]="data.phone">
    <hr>
    <input matInput [(ngModel)]="data.email">
    <hr>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No Thanks</button>
  <button mat-button [mat-dialog-close]="data">Ok</button>
</div>
